@charset "utf-8";
/* CSS Document */

.padding_3{padding:3px;}
.padding_4{padding:4px;}
.padding{padding:10px;}
.padding_5{padding:5px;}
.padding_top_5{padding-top:5px;}
.padding_top_10{padding-top:10px;}
.padding_top_15{padding-top:15px;}
.padding_top_20{padding-top:20px;}
.padding_top_25{padding-top:25px;}
.padding_top_30{padding-top:30px;}

.padding_right5{ padding-right:5px;}
.padding_right10{ padding-right:10px;}
.padding_right15{ padding-right:15px;}
.padding_right20{ padding-right:20px;}
.padding_right25{ padding-right:25px;}
.padding_right30{ padding-right:30px;}
.padding_right35{ padding-right:35px;}

.padding_left_5{padding-left:5px;}
.padding_left_10{padding-left:10px;}
.padding_left_15{padding-left:15px;}
.padding_left_20{padding-left:20px;}
.padding_left_25{padding-left:25px;}
.padding_left_30{padding-left:30px;}
.padding_left_35{padding-left:35px;}
.padding_left_40{padding-left:40px;}

.padding_butttom_5{padding-bottom:5px;}



.marging{margin:10px;}
.marging_left_right{margin-left:auto;margin-right:auto;}
.marging_top_5{margin-top:5px;}
.marging_top_10{margin-top:10px;}
.marging_top_15{margin-top:15px;}
.marging_top_20{margin-top:20px;}
.marging_top_25{margin-top:25px;}
.marging_top_70{margin-top:70px;}
.marging_top_75{margin-top:75px;}
.marging_top_80{margin-top:80px;}




.height_auto{height:auto;}
.height_50{height:50px;}
.height_60{height:60px;}
.height_70{height:70px;}
.height_80{height:80px;}
.height_90{height:90px;}
.height_520{height:520px;}
.height_530{height:530px;}
.height_540{height:540px;}
.height_541{height:541px;}
.height_542{height:542px;}
.height_543{height:543px;}
.height_550{height:550px;}

.min-height_600{min-height:600px;}



.width_auto{ width:auto;}
.width_960{ width:960px;}
.width_10{ width:10%;}
.width_12{ width:11%;}
.width_12{ width:12%;}
.width_13{ width:13%;}
.width_14{ width:14%;}
.width_15{ width:15%;}
.width_16{ width:16%;}
.width_17{ width:17%;}
.width_18{ width:18%;}
.width_19{ width:19%;}
.width_20{ width:20%;}
.width_25{ width:25%;}
.width_30{ width:30%;}
.width_35{ width:35%;}
.width_36{ width:36%;}
.width_37{ width:37%;}
.width_38{ width:38%;}
.width_39{ width:39%;}
.width_40{ width:40%;}
.width_40_5{ width:40.5%;}
.width_41{ width:41%;}
.width_42{ width:42%;}
.width_45{ width:45%;}
.width_50{ width:50%;}
.width_55{ width:55%;}
.width_60{ width:60%;}
.width_65{ width:65%;}
.width_66{ width:66%;}
.width_67{ width:67%;}
.width_68{ width:68%;}
.width_69{ width:69%;}
.width_70{ width:70%;}
.width_75{ width:75%;}
.width_80{ width:80%;}
.width_85{ width:85%;}
.width_90{ width:90%;}
.width_91{ width:91%;}
.width_92{ width:92%;}
.width_93{ width:93%;}
.width_94{ width:94%;}
.width_95{ width:95%;}
.width_96{ width:96%;}
.width_97{ width:97%;}
.width_98{ width:98%;}
.width_99{ width:99%;}
.width_100{ width:100%;}


.line-height_10{line-height:10px;}
.line-height_20{line-height:20px;}
.line-height_25{line-height:25px;}
.line-height_30{line-height:30px;}
.line-height_40{line-height:40px;}
.line-height_50{line-height:50px;}


.borber1{border:#C00 1px solid;}
.borber2{border:#C00 1px solid; border-radius:5px;}


.font_1{ font-family:Tahoma, Geneva, sans-serif;font-weight:bold;}
.font_2{ font-family:Tahoma, Geneva, sans-serif;font-weight:bold; font-size:13px;}
.font_3{ font-size:12px;font-family:Tahoma, Geneva, sans-serif;}
.font_10{ font-size:10px;font-family:Tahoma, Geneva, sans-serif; font-weight:900;}
.font_11{ font-size:11px;font-family:Tahoma, Geneva, sans-serif; font-weight:900;}
.font_14{ font-size:14px;font-family:Tahoma, Geneva, sans-serif;}
.font_20{font-size:20px;}
.font_25{font-size:25px;}

.text_aling_center{text-align:center;}
.text-decoration_underline:hover{text-decoration:underline;}
.text-decoration_underline{text-decoration:none;}

.backgroung_1{background: rgb(212,228,239);
background: -moz-linear-gradient(top,  rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(212,228,239,1)), color-stop(100%,rgba(134,174,204,1)));
background: -webkit-linear-gradient(top,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%);
background: -o-linear-gradient(top,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%);
background: -ms-linear-gradient(top,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%);
background: linear-gradient(to bottom,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=0 );
}
.backgroung_0{background:#c7fbf7;}
.backgroung_2{background:#e5d3a3;}
.backgroung_3{background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAbCAIAAAAyOnIjAAAAA3NCSVQICAjb4U/gAAAANUlEQVQImXXMsQ0AIRTD0FMmvRlYnAm+TQEIGronxcrX2x80hUEDpNx2em0lx9wNj37+rX4AhN5PdtvsqRUAAAAASUVORK5CYII=);
background-color: #FFF;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ef7260), color-stop(1, #b04c41));
background-image: -webkit-linear-gradient(top, #ef7260, #b04c41);
background-image: -moz-linear-gradient(top, #ef7260, #b04c41);
background-image: -o-linear-gradient(top, #ef7260, #b04c41);
background-image: linear-gradient(#ef7260, #b04c41);
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
}
.backgroung_4{background: #00b7ea;
background: -moz-linear-gradient(top,  #00b7ea 0%, #009ec3 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3));
background: -webkit-linear-gradient(top,  #00b7ea 0%,#009ec3 100%);
background: -o-linear-gradient(top,  #00b7ea 0%,#009ec3 100%);
background: -ms-linear-gradient(top,  #00b7ea 0%,#009ec3 100%);
background: linear-gradient(to bottom,  #00b7ea 0%,#009ec3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 );
}
.backgroung_5{background:#999999;}

.backgroung_6{background: -moz-linear-gradient(top,  rgba(171,189,115,0.75) 0%, rgba(171,189,115,0.77) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(171,189,115,0.75)), color-stop(100%,rgba(171,189,115,0.77)));
background: -webkit-linear-gradient(top,  rgba(171,189,115,0.75) 0%,rgba(171,189,115,0.77) 100%);
background: -o-linear-gradient(top,  rgba(171,189,115,0.75) 0%,rgba(171,189,115,0.77) 100%);
background: -ms-linear-gradient(top,  rgba(171,189,115,0.75) 0%,rgba(171,189,115,0.77) 100%);
background: linear-gradient(to bottom,  rgba(171,189,115,0.75) 0%,rgba(171,189,115,0.77) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfabbd73', endColorstr='#c4abbd73',GradientType=0 );
}
.backgroung_7{background: rgb(242,245,246);
background: -moz-linear-gradient(top,  rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,245,246,1)), color-stop(37%,rgba(227,234,237,1)), color-stop(100%,rgba(200,215,220,1)));
background: -webkit-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);
background: -o-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);
background: -ms-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);
background: linear-gradient(to bottom,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 );
}
.backgroung_8{background:#daecf8;}
.backgroung_9{background:#f3d9ce;}
.backgroung_10{background:#dfdedd;}
.backgroung_11{background:#ceca5a;}
.backgroung_12{background: rgb(252,255,244);
background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(40%,rgba(223,229,215,1)), color-stop(100%,rgba(179,190,173,1)));
background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%);
background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%);
background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%);
background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );

}


.backgroung_4:hover{background: rgb(37,141,200);
background: -moz-linear-gradient(top,  rgba(37,141,200,1) 0%, rgba(37,141,200,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,141,200,1)), color-stop(100%,rgba(37,141,200,1)));
background: -webkit-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%);
background: -o-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%);
background: -ms-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%);
background: linear-gradient(to bottom,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 );
font-weight:bold;}




.color_w{color:#FFF;}
.color_red{color:#C30;}
.color_b{color:#0d79be;}
.color_gr{color:#0C3;}

.celr{height:1px;width:960px;clear:both;}
.celre{height:1px;width:100%;clear:both;}
.clear{clear:both;}
.position_fixed{position:fixed; left:0px;}
.position_fixed_1{position:fixed; right:0px;}
.top_830{top:830px;}

.shadow_inset{-webkit-box-shadow: inset 6px -5px 29px -11px rgba(184,89,55,1);
-moz-box-shadow: inset 6px -5px 29px -11px rgba(184,89,55,1);
box-shadow: inset 6px -5px 29px -11px rgba(184,89,55,1);}

.shadow_inset_1{box-shadow: inset 0px 0px 10px 4px rgba(181, 176, 180, 0.75);
-moz-box-shadow: inset 0px 0px 10px 4px rgba(181, 176, 180, 0.75);
-webkit-box-shadow: inset 0px 0px 10px 4px rgba(181, 176, 180, 0.75);}

.input{border:#C00 1px solid; border-radius:7px;}

input:hover{-moz-transition:all 600ms ease-in-out;-ms-transition:all 600ms ease-in-out;-o-transition:all 600ms ease-in-out;-webkit-transition:all 600ms ease-in-out;transition:all 600ms ease-in-out; border:#0CF solid 1px; box-shadow:inset #0CF 0px 0px 5px 0px;}
input:focus{-moz-transition:all 600ms ease-in-out;-ms-transition:all 600ms ease-in-out;-o-transition:all 600ms ease-in-out;-webkit-transition:all 600ms ease-in-out;transition:all 600ms ease-in-out; border:#0CF solid 1px; box-shadow:inset #0CF 0px 0px 5px 0px;}

.error_msg{font-family:Tahoma, Geneva, sans-serif;font-size:10px;color:#F00;padding-left:25px;padding-top:5px;background:url(../../images/dialog_warning.gif) no-repeat left;margin-top:5px;}
.sucess{font-family:Tahoma, Geneva, sans-serif;font-size:10px;color:#090;padding-left:25px;padding-top:5px;background:url(../../images/check.gif) no-repeat left;margin-top:5px;}

 #body_all{height:auto;width:960px; min-height:608px; border-radius:6px; margin-left:auto;margin-right:auto;background: -moz-linear-gradient(top,  rgba(249,198,103,0.14) 0%, rgba(247,150,33,0.14) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,198,103,0.14)), color-stop(100%,rgba(247,150,33,0.14)));
background: -webkit-linear-gradient(top,  rgba(249,198,103,0.14) 0%,rgba(247,150,33,0.14) 100%);
background: -o-linear-gradient(top,  rgba(249,198,103,0.14) 0%,rgba(247,150,33,0.14) 100%);
background: -ms-linear-gradient(top,  rgba(249,198,103,0.14) 0%,rgba(247,150,33,0.14) 100%);
background: linear-gradient(to bottom,  rgba(249,198,103,0.14) 0%,rgba(247,150,33,0.14) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24f9c667', endColorstr='#24f79621',GradientType=0 );
}
 
 #body_all .input_fild{width:auto;}
 #body_all .table_body{}
 #body_all .table_sms_setting{}
 
 
 
 
#manu{width:65px; height:20px;}
#manu ul{position: relative;z-index: 597; width:100%; }
#manu ul li{ float: left;min-height: 1px;vertical-align: middle; display:block;}
#manu ul li:hover{position: relative; z-index: 1000; cursor: default; width:80%;}

#manu ul li ul{
  visibility: hidden;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 9000;
  width: 100%;
}

#manu ul li ul li{
  height:20px;
  width: 130px;
}


#manu ul li:hover > ul {
  visibility: visible;left:120%;padding:7px;width:130px; text-align:left;z-index: 9000; border-radius:8px;  
}
#manu a {
  display: block;
  line-height: 1em;
  text-decoration: none; padding:5px;z-index: 598;
}
#manu ul li ul li a:hover {width:100%;display: block;color:#666;
}






#manu2{width:65px; height:20px;}
#manu2 ul{position: relative;z-index: 597; width:100%; }
#manu2 ul li{ float: left;min-height: 1px;vertical-align: middle; display:block;}
#manu2 ul li:hover{position: relative; z-index: 1000; cursor: default; width:80%;}

#manu2 ul li ul{
  visibility: hidden;
  position: absolute;
  top: 0%;
  right:100%
  z-index: 9000;
  width: 100%;
}


#manu2 ul li:hover > ul {
  visibility: visible;padding:7px;width:70px; text-align:center;z-index: 9000; right:100%;border-radius:8px;
}
#manu2 a {
  display: block;
  line-height: 1em;
  text-decoration: none; padding:5px;z-index: 598;
}
#manu2 a:hover {width:100%;display: block;
}
 
 
 
#manu3{width:65px; height:20px;}
#manu3 ul{position:relative; float:right; z-index: 597; width:100%; }
#manu3 ul li{ float: left; min-height: 1px;vertical-align: middle; display:block;}
#manu3 ul li:hover{position: relative; z-index: 1000; cursor: default; width:80%;}

#manu3 ul li ul{
  visibility: hidden;
  position: absolute;
  top: 0%;
  left:100%;
  z-index:9000;
  width:auto;
  display:block;
}

#manu3 ul li ul li{
  width:160px;;
  display:block;
}

#manu3 ul li ul li a{
  width:160px;
  display:block;
  padding:3px;
  color:rgba(255,255,255,1);
}

#manu3 ul li ul li a:hover{
  width:160px;
  display:block;
  padding:3px;
  color:rgba(0,102,0,1);
}


#manu3 ul li:hover > ul {
  visibility: visible; padding:7px; width:160px; text-align:left; display:block; z-index: 9000; left:100%;border-radius:8px;
}
#manu3 a {
  display: block;
  line-height: 1em;
  text-decoration: none; padding:5px;z-index: 598;
}
#manu3 a:hover {width:100%; display: block;
}
 
